/*
 * JEET (bower install jeet)
 */
.container {
    @include center(960px);
}

.gallery {
    @include cf();
    padding: 10px;

    img {
        display: block;
    }

    .item {
        @include span(1/2);
        padding: 10px;
    }
}

@include breakpointEms(500){

    section {
        @include span(3/4);
    }

    aside {
        @include span(1/4);
    }
}

@include breakpointEms(800){

    .gallery {

        .item {
            @include span(1/3);
        }
    }
}

