/**
 * Icon Font template file, used in conjunction with Gulp
 */

// The following is a template file used by Gulp to automatically generate Sass code, which uses a font file to create icons
@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

%iconfont {
    font-family: "iconfont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
    font-size-adjust: none;
}



%iconfont-info {
    content: "\E001"
}



%iconfont-quote {
    content: "\E002"
}

