/**
 * Typography
 *
 * Global styling for typography elements
 */

body {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0; // Remove all default top margins so we don't get any unexpected spacing
}

b, strong, th {
    font-weight: bold;
}

b, strong, em, i {

}

address {
    font-style: normal;
}

blockquote {
    margin: 0;
}

// Headings
h1, .a-head {

}

h2, .b-head {

}

h3, .c-head {

}

h4, .d-head {

}

h5, .e-head {

}

h6, .f-head {

}

// List styles
ul, ol {

}

ul {

}

ol {

}

// Nested list styles
li {

    ul, ol {

    }
}
